@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');


ul li {


    font-family: 'EB Garamond', serif;
    font-size: 30px;
    margin-right: 100px;
    padding-left: 10px;


}
#rdm{
    background: #f5f4f3;
}

div{

    color: #988a7e;


}

#img{
    margin-left: 40px;

}

div.card{
    padding: 0;
    border: none;
    background: none;
}

div{
    margin: auto;
}

img[src="Images/pfeil.png"]{
    margin-top: 70px;
    margin-left: 20px;
    margin-right: 20px;
}

h5{

    margin-left: auto;
}
